* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  padding: 8px;
  z-index: 1000;
  animation: 1s ease-out 1s 1 slideInFromLeft forwards;
  transform: translateY(-100%);
  height: 90px;
}

.img-logo{
  max-width: 100%;
  height: auto;
}

nav {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  animation: 1s ease-out 1s 1 slideInFromLeft forwards;
  transform: translateY(-100%);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.display-none{
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  background: transparent;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition-delay: 0.2s;
  background-color: rgba(21, 33, 45, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo,
.placeholderLeft,
.placeholderRight {
  width: 200px;
}



.nav-buttons {
  width: max(50vw, 330px);
  display: flex;
  justify-content: space-between;
}

.nav-button {
  text-decoration: none;
  color: #f3f3f4;
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: max(1.5vw, 14px);
  opacity: 100;
}

.nav-button-transparent {
  opacity: 0;
}

.nav-button-transition {
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition-delay: 0.2s;
}

.nav-button:hover {
  color: #4a8fe7;
  transition: 0s;
}

@media (width <= 1164px) {
  .placeholderRight {
    display: none;
  }
}

@media (width <= 933px) {
  .logo{
    width: 20vw;
  }
}

@media (width <= 550px) {
  .logo,
  .placeholderLeft{
    display: none;
  }
}

.hero-image {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(210, 36%, 13%, 1) 48%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(210, 36%, 13%, 1) 48%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(210, 36%, 13%, 1) 48%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#15212D", GradientType=1 );
}

.hero-image-content {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #f3f3f4;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  animation: 1s ease-out 0s 1 fadeIn forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 100;
  }
}

.text-hero {
  font-family: "Kanit", sans-serif;
  font-size: 5vw;
  color: #f3f3f4;
  display: flex;
}

#text-identity {
  display: inline-block;
}
#text-cursor {
  color: #17bebb;
  display: inline-block;
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 32px);
  opacity: 0;
  animation: 1s ease-out 3s 1 fadeIn forwards, 1s ease 4s infinite bounce;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#expertise,
#projects,
#experience {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: max(5vw, 40px);
  font-weight: 300;
  color: #f3f3f4;
}

.expertise-content,
.projects-content,
.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertise-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  margin-top: 60px;
  padding: 10px;
  background-color: #15212d;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 10px rgba(74,143,231,0.5);
}

.expertise-skill-container{
  text-align: center;
  padding: 5px;
  color: #f3f3f4;
}

.expertise-skill-container > img{
  width: 64px;
}

.expertise-skill-container > img:hover{
  animation: .5s ease-out 0s 1 zoom forwards;
}

@keyframes zoom {
  0% {
    
  }
  100% {
    transform: scale(1.25);
  }
}

.projects-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: max(85vw, 360px);
  margin-top: 60px;
}

.projects-container > a {
  text-decoration: none;
  margin-bottom: 90px;
}

.project-card{
  width: 330px;
  height: 500px;
  background-color: #15212d;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 10px rgba(74,143,231,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 8px;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: #f3f3f4;
}

.project-card > img {
  width: 250px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.project-card > p {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  padding: 12px;
  color: #f3f3f4;
}

.timeline-container{
  position: relative;
  width: max(85vw, 360px);
  margin-top: 60px;
  box-sizing: border-box;
}

.timeline-container::after{
  content: "";
  position: absolute;
  width: 6px;
  background-color: #17bebb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container{
  padding: 35px 40px;
  position: relative;
  background-color: inherit;
  box-sizing: border-box;
  width: 50%;
}

.container::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #17bebb;
  border-radius: 50%;
  top: calc(50% - 12.5px);
  z-index: 1;
}

.left{
  left: 0;
  text-align: right;
}

.right{
  left: 50%;
  text-align: left;
}

.right::after{
  left: -12.5px;
}

.content{
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #15212d;
  box-shadow: 0px 0px 40px 10px rgba(74,143,231,0.5);
}

.content > h3 {
  margin-top: 0;
  font-weight: 600;
}

.content > p, h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: #f3f3f4;
  margin-top: 3px;
}

h4 {
  font-weight: 500;
}

.experience-title{
  color: #17bebb;
}

.content > p {
  font-size: 16px;
  color: #f3f3f4;
}

@media screen and (max-width: 600px) {
  /* Place the timeline to the left */
  .timeline-container::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 18.5px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}